@model IrisMed.Models.ContactUs

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form_sect">
     <h1 style="color:white">Respond to Query</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"  readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" readonly></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <textarea asp-for="Response" class="form-control"></textarea>
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Respond" class="btn btn-primary" />
            </div>
            <div align="left">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
      background-image: url("/Images/1.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}

.form_sect {
  padding: 50px;
  text-align: center;
  background-color:  rgba(13, 13, 13, 0.7);
  color: white;
  margin-left:25%; 
  width:50%
}
</style>
