@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-8" style="margin-left:auto; margin-right:auto; margin-bottom: 10px">
        <form class="form_sect" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 style="color:white">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                <label style="color:black" asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" />
                <label style="color:black" asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label style="color:black" asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label style="color:black" asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
             <div class="form-floating">
                <input asp-for="Input.Dob" class="form-control" autocomplete="fullname" aria-required="true" />
                <label style="color:black" asp-for="Input.Dob"></label>
                <span asp-validation-for="Input.Dob" class="text-danger"></span>
            </div>
            <br />
             <div class="form-floating">
                <input asp-for="Input.Gender" class="form-control" autocomplete="Gender" aria-required="true" />
                <label style="color:black" asp-for="Input.Gender"></label>
            </div>
            <br />
             <div class="form-floating">
                <input asp-for="Input.Weight" class="form-control" autocomplete="fullname" aria-required="true" />
                <label style="color:black" asp-for="Input.Weight"></label>
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>
            <br />
             <div class="form-floating">
                <input asp-for="Input.Height" class="form-control" autocomplete="fullname" aria-required="true" />
                <label style="color:black" asp-for="Input.Height"></label>
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

 <style>
    body {
      background-image: url("/Images/3.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

.form_sect {
  padding: 50px;
  text-align: center;
  background-color:  rgba(13, 13, 13, 0.7);
  color: white;
}
</style>
