@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="about-section">
  <h1>About Us Page</h1>
  <p>Iris Med, the first fully IT integrated Hospital </p>
  <p>We promise to offer you the health services you need without adding to your burdens</p>
</div>

<h2 style="text-align:center; color: white;">Our Team</h2>
<div style="margin-left: 6%">
  <div class="column">
    <div class="card">
      <img src="/Images/3.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2 style="color: white;">Dr Mary Obi</h2>
        <p class="title">Consultant</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/Images/4.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2 style="color: white;">Dr Fred Olu</h2>
        <p class="title">Doctor</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/Images/2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2 style="color: white;">Miss Nebi Jain</h2>
        <p class="title">Consultant</p>
      </div>
    </div>
  </div>
</div>

<br />

<style>


    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

   background-image: url("/Images/1.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 31%;
  height: 90%;
  
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.222);
  margin: 8px;
  background-color:  rgba(13, 13, 13, 0.522);
  height: 90%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color:  rgba(13, 13, 13, 0.822);
  color: white;
}

.container {
  padding: 0 16px;
  
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  background-color:  rgba(13, 13, 13, 0.622);
}

.title {
  color: white;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



</style>
