@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ContactUsModel
@{
}

<form  id="contactUsForm" asp-route-returnUrl="" method="post">

    <div class="form_sect">
        <h2 style="color:white">Contact Us</h2>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" autocomplete="fullname" aria-required="true" />
                <label style="color:black" asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" />

                <label style="color:black" asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Content" class="form-control" autocomplete="Content" aria-required="true" type="text"/>
                <label style="color:black" asp-for="Input.Content"></label>
                <span asp-validation-for="Input.Content" class="text-danger"></span>
            </div>
            <br />
            <div align="center">
                <button id="aboutUsSubmit" type="submit" class="w-20 btn btn-lg btn-primary">Submit</button>
            </div>
            
    </div>
            
</form>


<style>


body {
      background-image: url("/Images/7.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}

.contact
{
   margin: 25px 50px 75px 100px;
}

.form_sect {
  padding: 50px;
  text-align: center;
  background-color:  rgba(13, 13, 13, 0.7);
  color: white;
  margin-left:25%; 
  width:50%
}

</style>

