@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IrisMed.Models.SelfCheck

@{
    ViewData["Title"] = "Self Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="form_sect">
    <h1>Smart Diagnosis (Prototype)</h1>
    <h4>A tool that diagnoses a patient using AI</h4>
    <p>Input the symptoms you are experiencing seperated by a comma (",")</p>
        <form asp-action="SelfCheck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Symptoms" class="control-label"></label>
                <input asp-for="Symptoms" id="symp" class="form-control" readonly />
                <span asp-validation-for="Symptoms" class="text-danger"></span>

                <br />
                <div style="display: inline">
                    <select id="content" style="width:200px">
                        <option>abdominal_pain</option>
                        <option>abnormal_menstruation</option>
                        <option>acidity</option>
                        <option>acute_liver_failure</option>
                        <option>altered_sensorium</option>
                        <option>anxiety</option>
                        <option>back_pain</option>
                        <option>belly_pain</option>
                        <option>blackheads</option>
                        <option>bladder_discomfort</option>
                        <option>blister</option>
                        <option>blood_in_sputum</option>
                        <option>bloody_stool</option>
                        <option>blurred_and_distorted_vision</option>
                        <option>breathlessness</option>
                        <option>brittle_nails</option>
                        <option>bruising</option>
                        <option>burning_micturition</option>
                        <option>chest_pain</option>
                        <option>chills</option>
                        <option>cold_hands_and_feets</option>
                        <option>coma</option>
                        <option>congestion</option>
                        <option>constipation</option>
                        <option>continuous_feel_of_urine</option>
                        <option>continuous_sneezing</option>
                        <option>cough</option>
                        <option>cramps</option>
                        <option>dark_urine</option>
                        <option>dehydration</option>
                        <option>depression</option>
                        <option>diarrhoea</option>
                        <option>dischromic _patches</option>
                        <option>distention_of_abdomen</option>
                        <option>dizziness</option>
                        <option>drying_and_tingling_lips</option>
                        <option>enlarged_thyroid</option>
                        <option>excessive_hunger</option>
                        <option>extra_marital_contacts</option>
                        <option>family_history</option>
                        <option>fast_heart_rate</option>
                        <option>fatigue</option>
                        <option>fluid_overload</option>
                        <option>foul_smell_of urine</option>
                        <option>headache</option>
                        <option>high_fever</option>
                        <option>hip_joint_pain</option>
                        <option>history_of_alcohol_consumption</option>
                        <option>increased_appetite</option>
                        <option>indigestion</option>
                        <option>inflammatory_nails</option>
                        <option>internal_itching</option>
                        <option>irregular_sugar_level</option>
                        <option>irritability</option>
                        <option>irritation_in_anus</option>
                        <option>itching</option>
                        <option>joint_pain</option>
                        <option>knee_pain</option>
                        <option>lack_of_concentration</option>
                        <option>lethargy</option>
                        <option>loss_of_appetite</option>
                        <option>loss_of_balance</option>
                        <option>loss_of_smell</option>
                        <option>malaise</option>
                        <option>mild_fever</option>
                        <option>mood_swings</option>
                        <option>movement_stiffness</option>
                        <option>mucoid_sputum</option>
                        <option>muscle_pain</option>
                        <option>muscle_wasting</option>
                        <option>muscle_weakness</option>
                        <option>nausea</option>
                        <option>neck_pain</option>
                        <option>nodal_skin_eruptions</option>
                        <option>obesity</option>
                        <option>pain_behind_the_eyes</option>
                        <option>pain_during_bowel_movements</option>
                        <option>pain_in_anal_region</option>
                        <option>painful_walking</option>
                        <option>palpitations</option>
                        <option>passage_of_gases</option>
                        <option>patches_in_throat</option>
                        <option>phlegm</option>
                        <option>polyuria</option>
                        <option>prominent_veins_on_calf</option>
                        <option>puffy_face_and_eyes</option>
                        <option>pus_filled_pimples</option>
                        <option>receiving_blood_transfusion</option>
                        <option>receiving_unsterile_injections</option>
                        <option>red_sore_around_nose</option>
                        <option>red_spots_over_body</option>
                        <option>redness_of_eyes</option>
                        <option>restlessness</option>
                        <option>runny_nose</option>
                        <option>rusty_sputum</option>
                        <option>scurring</option>
                        <option>shivering</option>
                        <option>silver_like_dusting</option>
                        <option>sinus_pressure</option>
                        <option>skin_peeling</option>
                        <option>skin_rash</option>
                        <option>slurred_speech</option>
                        <option>small_dents_in_nails</option>
                        <option>spinning_movements</option>
                        <option>spotting_ urination</option>
                        <option>stiff_neck</option>
                        <option>stomach_bleeding</option>
                        <option>stomach_pain</option>
                        <option>sunken_eyes</option>
                        <option>sweating</option>
                        <option>swelled_lymph_nodes</option>
                        <option>swelling_joints</option>
                        <option>swelling_of_stomach</option>
                        <option>swollen_blood_vessels</option>
                        <option>swollen_extremeties</option>
                        <option>swollen_legs</option>
                        <option>throat_irritation</option>
                        <option>toxic_look_(typhos)</option>
                        <option>ulcers_on_tongue</option>
                        <option>unsteadiness</option>
                        <option>visual_disturbances</option>
                        <option>vomiting</option>
                        <option>watering_from_eyes</option>
                        <option>weakness_in_limbs</option>
                        <option>weakness_of_one_body_side</option>
                        <option>weight_gain</option>
                        <option>weight_loss</option>
                        <option>yellow_crust_ooze</option>
                        <option>yellow_urine</option>
                        <option>yellowing_of_eyes</option>
                        <option>yellowish_skin</option>
                    </select>
                    <button type="button" class="btn btn-primary" onclick="add()">+</button>
                    <button type="button" class="btn btn-primary" onclick="document.getElementById('symp').value = '';">Clear</button>
                </div>
            </div>
             

            <br />
            <div class="form-group">
                <input type="submit" value="Check" class="btn btn-primary" />
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
      background-image: url("/Images/7.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}

.form_sect {
  padding: 50px;
  text-align: center;
  background-color:  rgba(13, 13, 13, 0.7);
  color: white;
  margin-left:25%; 
  width:50%
}
</style>

<script>
    function add()
    {
        let a = document.getElementById("content").value;

        if(!document.getElementById("symp").value.includes(a))
        {
            document.getElementById("symp").value += document.getElementById("content").value + " , ";
        }
       
    }

</script>