@model IrisMed.Models.StaffBoard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>StaffBoard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"> 
                <input asp-for="StaffName" class="form-control" value="@User.Identity.Name" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="StaffMessage" class="control-label"></label>
                <textarea asp-for="StaffMessage" class="form-control"></textarea>
                <span asp-validation-for="StaffMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
