@model IrisMed.Models.Appointment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using IrisMed.Areas.Identity.Data;
@inject SignInManager<IrisUser> SignInManager
@inject UserManager<IrisUser> UserManager


<h1>Create</h1>

<h4>Appointments</h4>
<hr />
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DoctorName" class="control-label"></label>
                    <input asp-for="DoctorName" class="form-control" />
                    <span asp-validation-for="DoctorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientName" class="control-label"></label>
                    <input asp-for="PatientName" class="form-control" />
                    <span asp-validation-for="PatientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientComplaints" class="control-label"></label>
                    <input asp-for="PatientComplaints" class="form-control" />
                    <span asp-validation-for="PatientComplaints" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentTime" class="control-label"></label>
                    <input asp-for="AppointmentTime" class="form-control" />
                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentDate" class="control-label"></label>
                    <input asp-for="AppointmentDate" class="form-control" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
   
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col-10 col-md-10 col-lg-10 col-xl-8" style="margin-top:100px; background-color: rgba(13, 13, 13, 0.6);">
                <br><br>
                <div class="jumbotrn">
                
                
                <center>
                    <h3 style="font-weight: bold; font-size:160%; color: white" >Login to book an appointment!</h3>
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    <p style="color: white">Don't have an account?  <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
                    
                </center>
                
                </div>
            </div>

            <div class="col"></div>
        </div>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
      background-image: url("/Images/7.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}
</style>
