@page
@model IrisMed.Views.Misc.AppointmentsModel
@{
}

@using Microsoft.AspNetCore.Identity
@using IrisMed.Areas.Identity.Data;
@inject SignInManager<IrisUser> SignInManager
@inject UserManager<IrisUser> UserManager

<div>
@if (SignInManager.IsSignedIn(User))
{
     <p>Appointments</p>
}
else
{
   
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col-10 col-md-10 col-lg-10 col-xl-8" style="margin-top:100px; background-color: rgba(13, 13, 13, 0.6);">
                <br><br>
                <div class="jumbotrn">
                
                
                <center>
                    <h3 style="font-weight: bold; font-size:160%; color: white" >Login to book an appointment!</h3>
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    <p style="color: white">Don't have an account?  <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
                    
                </center>
                
                </div>
            </div>

            <div class="col"></div>
        </div>
</div>
}
</div>


<style>
    body {
      background-image: url("/Images/7.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}
</style>
