@model IrisMed.Models.Appointment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="form_sect">
        <h1 style="color:white">Edit Appointment</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" readonly/>
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" readonly />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientComplaints" class="control-label"></label>
                <input asp-for="PatientComplaints" class="form-control" readonly />
                <span asp-validation-for="PatientComplaints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            @if(Model.MedicalBill > -1)
            {
                <div class="form-group">
                    <label asp-for="MedicalBill" class="control-label"></label>
                    <input asp-for="MedicalBill" class="form-control" />
                    <span asp-validation-for="MedicalBill" class="text-danger"></span>
                </div>
            }
            
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div align="left">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
      background-image: url("/Images/1.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
}

.form_sect {
  padding: 50px;
  text-align: center;
  background-color:  rgba(13, 13, 13, 0.7);
  color: white;
  margin-left:25%; 
  width:50%
}
</style>

