@using IrisMed.Data
@using Microsoft.AspNetCore.Identity
@using IrisMed.Areas.Identity.Data;
@inject SignInManager<IrisUser> SignInManager
@inject UserManager<IrisUser> UserManager
@inject ApplicationDbContext _context;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IrisMed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IrisMed.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IrisMed</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Appointments" asp-action="Create">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ContactUs" asp-action="Index">Queries</a>
                            </li>

                            @if(_context.Users.Where(x => x.Email == User.Identity.Name && x.StaffType > 0).Any())
                            {
                                 <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Shifts" asp-action="Index">Shifts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="StaffBoards" asp-action="Index">Staff Board</a>
                                </li>

                                @if (_context.Users.Where(x => x.Email == User.Identity.Name && x.StaffType > 1).Any())
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Logs" asp-action="Index">Staff Logs</a>
                                    </li>
                                }
                            }

                        }
                        

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark border-bottom box-shadow mb-0">
        <div class="container">
            &copy; 2022 - IrisMed 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
